.about-me {
  height: 90vh;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  padding: 0 96px;
  border-bottom: 1px solid rgba(238, 238, 238, 0.1);
}
.about-me-text {
  bottom: 15vh;
  left: 10vw;
  position: relative;
  flex: 3;
}

.about-me-title#about {
  color: #eeeeee;
  font-weight: 700;
  font-size: 64px;
  margin-right: 1rem;
}
.about-me-title#me {
  color: #00adb5;
  font-weight: 700;
  font-size: 64px;
}
.about-me-text p {
  max-width: 400px;
}
#person-two {
  max-width: 413px;
}
.about-me-images {
  position: relative;
  padding-top: 100px;
  right: 10vw;
  display: flex;
  flex-direction: column;
  flex: 1;
}
#shadow-two {
  position: relative;
  bottom: 15px;
  z-index: -5;
}
