* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.about-me {
  min-height: 100vh;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  padding-left: var(--section-padding);
  padding-right: var(--section-padding);
  border-bottom: 1px solid rgba(238, 238, 238, 0.1);
}
.about-me-text {
  position: relative;
  flex: 3;
  max-width: 480px;
  margin-bottom: 16vh;
}
.about-me-titles {
  display: flex;
}
.about-me-title {
  display: inline-block;
  white-space: nowrap;
}
.about-me-title#about {
  color: var(--second-color);
  font-weight: 700;
  font-size: var(--section-fs);
  margin-right: 1rem;
}
.about-me-title#me {
  color: var(--main-color);
  font-weight: 700;
  font-size: var(--section-fs);
}

.about-me-text p {
  color: rgba(238, 238, 238, 0.75);
  font-weight: 300;
  font-size: 18px;
}
.about-me-text img {
  z-index: -5;
}
.about-me-info {
  background-color: var(--grey-color);
  padding: 1rem;
  min-width: 246px;
  max-width: 500px;
  border-radius: 0.5rem;
  backdrop-filter: blur(2px);
  opacity: 0;
  transition: 0.5s;
}
.about-me-info:hover {
  border: 1px solid var(--main-color);
  transform: scale(1.05);
}

.about-me-images {
  position: relative;
  margin-top: 22vh;
  min-width: 100px;
  max-width: 450px;
  display: flex;
  flex-direction: column;
  flex: 1;
  z-index: -2;
}
#person-two {
  max-width: 80%;
  position: relative;
  image-rendering: auto;
  max-height: 100%;
  top: 50%;
  margin-top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  rotate: 3.5deg;
}
#doodle-tile {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -5;
  margin-top: -24%;
  opacity: 0.5;
  height: 120%;
  max-width: 140%;
}
#shadow-two {
  position: absolute;
  top: 50%;
  left: 50%;
  max-height: 32px;
  transform: translate(-50%, -50%);
  width: 100%;
  margin-top: 46%;
  z-index: -5;
}

#note {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: -29vh;
  margin-left: -40%;
}
#lightbulb {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: -16vh;
  margin-left: 50%;
}
#arrow {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 31vh;
  margin-left: 15%;
}

@media screen and (max-width: 835px) {
  .about-me-text {
    margin-bottom: 4vh;
    max-height: 90%;
  }

  .about-me-info {
    height: 29%;
  }
}
@media screen and (max-width: 500px) {
  .about-me-text p {
    font-size: 0.8rem;
  }
}
