* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.about-me {
  height: 90vh;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  padding: 0 96px;
  border-bottom: 1px solid rgba(238, 238, 238, 0.1);
}
.about-me-text {
  bottom: 5vh;
  left: 10vw;
  position: relative;
  flex: 3;
}
.about-me-title {
  display: inline-block;
}
.about-me-title#about {
  color: var(--second-color);
  font-weight: 700;
  font-size: var(--title-fs);
  margin-right: 1rem;
}
.about-me-title#me {
  color: var(--main-color);
  font-weight: 700;
  font-size: var(--title-fs);
}

.about-me-text p {
  color: rgba(238, 238, 238, 0.75);
  font-weight: 300;
  font-size: 18px;
}
.about-me-info {
  background-color: var(--grey-color);
  padding: 1rem;
  max-width: 500px;
  border-radius: 0.5rem;
  backdrop-filter: blur(2px);
  opacity: 0;
  transition: 0.5s;
}
.about-me-info:hover {
  border: 1px solid var(--main-color);
  transform: scale(1.05);
}

#person-two {
  max-width: 413px;
  position: relative;
  left: 191px;
  top: 473px;
}
#doodle-tile {
  position: relative;
  z-index: -5;
  opacity: 0.5;
  left: 81px;
  width: 665px;
  bottom: 112px;
}
.about-me-images {
  position: relative;
  bottom: 5rem;
  right: 10vw;
  display: flex;
  flex-direction: column;
  flex: 1;
  z-index: -2;
}
#shadow-two {
  position: absolute;
  width: 348px;
  bottom: 15px;
  right: 100px;
  z-index: -5;
}

#note {
  position: relative;
  bottom: 590px;
}
#lightbulb {
  position: relative;
  bottom: 452px;
  left: 340px;
}
#arrow {
  position: relative;
  height: 169px;
  top: 109px;
  left: 70px;
}
