.contact {
  display: flex;
  height: 100vh;
  width: 100%;
  padding: 0 6rem;
  align-items: center;
  justify-content: center;
}
.contact-text {
  display: flex;
  flex-direction: column;
}
.contact-title#c-title-1 {
  font-size: var(--title-fs);
  color: var(--second-color);
}
.contact-title#c-title-2 {
  font-size: var(--title-fs);
  color: var(--main-color);
}
