.footer {
  display: flex;
  height: 130px;
  width: 100vw;
  background-color: var(--bg-color);
  align-items: center;
  border-top: 1px solid rgba(238, 238, 238, 0.1);
  z-index: 100;
  justify-content: center;
}
.languages {
  display: flex;
  color: var(--second-color);
}
.contact-info {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.contact-info a {
  color: var(--second-color);
  text-decoration: none;
}
