$dark: #19191c;
$lessDark: #303035;
$gutter: 16px;
$minWidth: 400px;  //Change minWidth in media-queries for small screens.
$maxWidth: 1fr;

/*
1. 1:1 - 100%
2. 16:9 - 56.25%
3. 4:3 - 75%
4. 3:2 - 66.66%
5. 8:5 - 62.5%
*/
$ratio: 56.25%;


.cards-container {
	display: grid;
    width: 100%;
	grid-gap: $gutter;
	/*
	Minimum Width = 368px
	Maximum Width = 1fr i.e full width
	A card will wrap to next row if the browser can not fit cards with their minimum width
	
	auto-fill - this will try to fill all the columns or leave an empty columns if there aren't enough cards
	*/
	grid-template-columns: repeat(auto-fill, minmax($minWidth, $maxWidth));

	// auto-fit - this will fit all the cards in single row if the browser's width is equal to width of all the cards combine + gap
	// grid-template-columns: repeat(auto-fit, minmax($minWidth, $maxWidth));
	
	@media screen and (max-width: 320px) {
		grid-template-columns: repeat(auto-fill, minmax(100%, $maxWidth));
	}
}

.card {
    background-color: var(--grey-color);
    border-radius: 0.5rem;
    backdrop-filter: blur(2px);
	padding-top: $ratio;
	border-radius: 8px;
	overflow: hidden;
	position: relative;
}


.card img{
    top: 0;
    left: 0;
    width: 100%;
    position: absolute;
}
.card-title{
    background-color: #0099479a;
    padding: clamp(0.15rem ,0.25rem, 0.5rem);
    border-radius: 0.5rem;
    text-align: center;
    font-size: 2rem;
    color: var(--second-color);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 5;
    backdrop-filter: blur(2px);
    transition: 0.2s;
}
.card-about{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #1d0025b3;
    padding: 0.5rem;
    border-radius: 0.5rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 10;
    height: 100%;
    width: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    opacity: 0;
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    transition: 0.2s;
}
.card:hover .card-about {
    opacity: 1;
}
.card:hover .card-title {
    opacity: 0;
}
.about-text {
    font-size: 1.1rem;
    color: var(--second-color);
    margin-top: auto;
}
.card-btn-wrapper {
    display: flex;
    background: none;
    max-width: 80%;
    max-height: 2rem;
    z-index: 12;
    gap: 1rem;
    margin-top: auto;
}
.card-btn {
    line-height: 18px;
    text-align: center;
    text-decoration: none;
    background: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0);
    padding: 4px 12px 4px 12px;
    font-weight: 700;
    font-size: 18px;
    color: var(--second-color);
    cursor: pointer;
    z-index: 12;
    text-shadow: 0px 4px 8px rgb(0 0 0 / 50%);
    transition: 0.15s;
}
.card-btn:hover {
    border-bottom: 1px solid var(--main-color);
}