* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.hero {
  display: flex;
  flex-direction: row;
  position: relative;
  justify-content: center;
  align-items: center;
  margin-top: calc(0vh + 130px);
  width: 100vw;
  padding-left: var(--section-padding);
  padding-right: var(--section-padding);
  height: calc(100vh - 130px);
  height: -o-calc(100vh - 130px); /* opera */
  height: -webkit-calc(100vh - 130px); /* google, safari */
  height: -moz-calc(100vh - 130px); /* firefox */
}
.hero-text {
  position: relative;
  max-height: 100vh;
  margin-bottom: 2vh;
  max-width: 50vw;
  flex: 2;
}
.hero-titles {
  display: flex;
flex-direction: column;
gap: clamp(2rem, 4vh, 2vh);
}

.title1 {
  color: var(--second-color);
  font-weight: 700;
  font-size: var(--hero-fs);
  white-space: nowrap;
  text-align: justify;
  text-justify: inter-word;
}
.title2 {
  margin-top: -50px;
  color: var(--main-color);
  font-weight: 700;
  font-size: var(--hero-fs);
  white-space: nowrap;
  text-align: justify;
  text-justify: inter-word;
}
.hero-buttons {
  display: flex;
  gap: 2rem;
  margin-top: 3rem;
}
.hero-btn {
  text-decoration: none;
  border: none;
  border-radius: 24px;
  padding: 10px 2.5rem;
  font-weight: 700;
  font-size: 18px;
  color: var(--second-color);
  cursor: pointer;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
}
.hero-btn#project-btn {
  background: var(--grey-color);
  backdrop-filter: blur(2px);
}
.hero-btn#lets-talk {
  background-color: var(--main-color);
}
#curly-arrow {
  opacity: 0.22;
  position: relative;
  left: -100px;
  bottom: 240px;
}

.hero-images {
  display: flex;
  flex-direction: column;
  max-width: 450px;
  height: 50%;
  position: relative;
  flex: 1;
  align-items: center;
}

#person-one {
  position: absolute;
  bottom: -20px;
  width: 100%;
  object-fit: fill;
  height: 100%;
}
#doodle-circle {
  position: absolute;
  opacity: 0.5;
  width: 100%;
  z-index: -5;
  bottom: 3.5rem;
  height: 100%;
}
#shadow {
  position: absolute;
  z-index: -5;
  bottom: -26px;
  width: 100%;
}
