.nav-container {
  display: flex;
  position: fixed;
  height: 130px;
  width: 100vw;
  background-color: #222831;
  align-items: center;
  transition: top 0.6s;
  justify-content: flex-end;
  border-bottom: 1px solid rgba(238, 238, 238, 0.1);
  z-index: -100;
}
.nav-brand {
  font-family: "Oswald", sans-serif;
  margin-right: auto;
  color: var(--second-color);
  font-weight: 700;
  font-size: 1.5rem;
  padding-left: 96px;
}

.nav-links {
  display: flex;
  padding-right: 96px;
}
.nav-links a {
  cursor: pointer;
  border: 1px solid rgb(203, 115, 0, 0);
  border-radius: 4px;
  padding: 4px 9px;
  font-weight: 400;
  font-size: 18px;
  white-space: nowrap;
  color: var(--second-color);
  text-decoration: none;
  max-width: 400px;
  margin-left: 4rem;
  transition: border 0.15s, border-radius 0.15s, background-color 1.2s,
    transform 0.15s;
}
.nav-links a:hover {
  transform: scale(1.1);
  border: 1px solid var(--main-color);
  border-radius: 4px;
  background-color: #0067306f;
}
