.vertical-line {
  border-left: 1px solid rgba(238, 238, 238, 0.1);
  height: calc(100% + 130px);
  position: absolute;
  top: -130px;
  left: 35%;
}
.down-arrow {
  object-position: center;
  position: absolute;
  height: 96px;
  width: 96px;
  top: 25%;
  left: 35%;
  margin-right: 10px;
  transform: translate(-50%, 0);
}
