.tip-wrapper {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-color: rgba(105, 120, 107, 0.5);
  backdrop-filter: blur(3px);
  z-index: 1000;
  padding: 3vw;
}
.tip {
  display: flex;
  flex-direction: column;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  min-width: 25vw;
  width: auto;
  max-width: 500px;
  height: auto;
  background-color: var(--grey-color);
  color: var(--second-color);
  border-radius: 1rem;
  padding: 2rem;
  gap: 2rem;
}
.dismiss {
  cursor: pointer;
  border: none;
  text-decoration: underline;
  background-color: transparent;
  color: var(--second-color);
  font-size: 1rem;
}
.vertical-line {
  border-left: 1px solid rgba(238, 238, 238, 0.1);
  height: calc(100% + 130px);
  position: absolute;
  top: -130px;
  left: 35%;
}
.down-arrow {
  position: absolute;
  height: 96px;
  width: 96px;
}
.left-nav {
  width: 40px;
  position: fixed;
  bottom: 0px;
  left: 1vw;
  right: auto;
  z-index: 10;
  color: var(--main-color);
}
.right-nav {
  width: 40px;
  position: fixed;
  bottom: 0px;
  right: 1vw;
  left: auto;
  z-index: 10;
  color: var(--main-color);
}
.left-nav::after,
.right-nav::after {
  box-sizing: inherit;
  content: "";
  display: block;
  width: 1px;
  height: 90px;
  margin: 0px auto;
  background-color: var(--main-color);
}
.socials,
.my-info {
  list-style: none;
  color: var(--main-color);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.socials li a,
.my-info li a {
  color: var(--main-color);
  font-size: 0.75rem;
}
.my-info li a {
  writing-mode: vertical-rl;
  text-decoration: none;
  font-family: "PT Mono", "Times New Roman", Times, serif;
}
.socials li i {
  font-size: 20px;
  padding: 10px;
}
.socials li:last-of-type {
  margin-bottom: 20px;
}
