* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.projects {
  min-height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-left: var(--section-padding);
  padding-right: var(--section-padding);
  padding-top: 3vh;
  padding-bottom: 3vh;
}
.projects::before {
  content: "";
  background-image: url("../assets/doodle-tile.svg");
  background-repeat: repeat;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  z-index: -2;
  opacity: 0.2;
}
.projects-text {
  margin-bottom: 3vh;
}
#p-title-1 {
  font-size: var(--section-fs);
  display: inline-block;
  margin-right: 1rem;
  color: var(--second-color);
}
#p-title-2 {
  font-size: var(--section-fs);
  display: inline-block;
  color: var(--main-color);
}
.card {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  width: 100%;
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
  backdrop-filter: blur(2px);
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  box-shadow: 0px 0px 8px rgb(18, 18, 18);
}
.card-assets {
  max-width: 50%;
  flex: 2;
}
.card-about {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  flex: 1;
}
.card-assets img {
  width: 100%;
}
.card-btn-wrapper {
  display: flex;
  z-index: 12;
  gap: 1rem;
}
.card-btn {
  text-align: center;
  text-decoration: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0);
  font-weight: 700;
  font-size: 16px;
  color: var(--second-color);
  z-index: 12;
  text-shadow: 0px 4px 8px rgb(0 0 0 / 50%);
  transition: 0.15s;
}
.card-btn:hover {
  border-bottom: 1px solid var(--main-color);
}
.card-title {
  color: var(--second-color);
  text-shadow: 0px 4px 8px rgb(0 0 0 / 50%);
}
.about-text {
  color: var(--second-color);
  text-align: center;
}