* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.projects {
  min-height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-left: var(--section-padding);
  padding-right: var(--section-padding);
  padding-top: 3vh;
  padding-bottom: 3vh;
}
.projects::before {
  content: "";
  background-image: url("../assets/doodle-tile.svg");
  background-repeat: repeat;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  z-index: -2;
  opacity: 0.2;
}
.projects-text {
  margin-bottom: 3vh;
}
#p-title-1 {
  font-size: var(--section-fs);
  display: inline-block;
  margin-right: 1rem;
  color: var(--second-color);
}
#p-title-2 {
  font-size: var(--section-fs);
  display: inline-block;
  color: var(--main-color);
}

/* .cards-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  row-gap: 4rem;
  column-gap: 6rem;
}
.card {
  line-height: 280px;
  text-align: center;
  width: 35vw;
  height: 40vh;
  background-color: var(--grey-color);
  border-radius: 0.5rem;
  backdrop-filter: blur(2px);
} */
