:root {
  --main-color: #00b553;
  --second-color: #eeeeee;
  --grey-color: rgba(57, 62, 70, 0.75);
  --hero-fs: clamp(1rem, 4vw, 6rem);
  --section-fs: 4rem;
  --small-fs: 18px;
  --section-padding: 5vw;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  height: 100%;
  max-width: 100vw;
  background-color: #222831;
  position: relative;
}
